{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>Etusivu</h1>
     <img src="/images/talviaistenkoulu.jpg" alt="koulu">

     <p>Talviaisten koulu / kylätalo. Tiihalanniemi 161 35420 TALVIAINEN.

        Talviaisten kylä sijaitsee Orivedellä - siellä missä 9-tie, rautatie ja Längelmävesi kohtaavat.</p>
        <p>
            Talviaisten alue sisältää useita kyliä. Kylät ovat maatalousvaltaisia. Alueella tuotetaan edelleen maitoa ja lihaa. Valtaosa tiloista harjoittaa viljanviljelyä ja metsätaloutta. Usein ainakin toinen tilan pitäjistä käy töissä tilan ulkopuolella tai toimii yrittäjänä muulla alalla. Töissä käydään Tampereella,  Oriveden keskustassa, Jämsässä ja jopa pääkaupunkiseudulla.
        </p>
  
        <p>
            Myös yritystoiminta on lisääntynyt. Toimitaan sekä kylillä että asumalla kylillä ja yrittämällä muualla. Laaja vesistö antaa puitteita kehittää yritystoimintaa entisestään.
        </p>
        <p>
            Talviaisten alue on tunnettu yhteisöllisestä elintavasta. Toiminta ohjautuu kyläyhdistyksen, VPK:n ja muiden järjestöjen kautta. Kyläyhdistyksen toiminnan saavutuksia ovat 1983 valmistunut kyläkirja, 2000 valmistunut kyläsuunnitelma ja aktiivinen kylätori. Talviaisten vanha koulurakennus toimii kylän aktiivisena kokoontumis- ja harrastuspaikkana.
        </p>
        <p>
            Parantuneiden liikenneyhteyksien ja töiden muuttumisen johdosta muutto ja paluumuutto Talviaisten alueelle jatkuu vilkkaana. Vapaiksi tulleet talot menevät käsistä ja parin viime vuoden aikana on valmistunut kymmenkunta uutta taloa.
        </p>
        <p>Kesäisin alueen väkimäärä moninkertaistuu. Kesäasukkaat osallistuvat aktiivisesti kylien yhteisiin tapahtumiin ja toimintoihin. Kesäasukkaista on myös tullut kylän vakituisia asukkaita, kun kesäasunto on muutettu kakkoskodista asuinpaikaksi.
        </p>
    
      
        <h2>Voit myös tutustua lainojen ottamiseen</h2>
          Tässä muutamia laina-esimerkkejä:
          <ul>
            <li><a href="https://financer.com/fi/lainaa/lainaa-5000/" class="link">lainaa 5000</a></li>
            <li><a href="https://www.lainaailmanvakuuksia.fi/lainaa-6000/" class="link">lainaa 6000</a></li>
            <li><a href="https://cashloans.nu/fi/lainaa-10000/" class="link">lainaa 10000</a></li>
          </ul> 
          Näillä laina-sivuilla pääset alkuun!
      </div>
{{ end }}
